.admin {
    margin: 20px;
    background-color: var(--color-bg);
    color: var(--color-letter);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

.table-name{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  table {
    background-color: var(--color-white);
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #717171;
    border-right: 1px solid #717171;
  }

  button{
    background-color: var(--color-bg);
    color: var(--color-letter);
    border: 1px solid var(--color-letter);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
  }
/* Estilos generales del modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 400px;
  width: 100%;
}

.modal h3 {
  margin-top: 0;
}

.modal label {
  display: block;
  margin-bottom: 5px;
}

.modal input,
.modal select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.modal .button-group {
  display: flex;
  justify-content: flex-end;
}

.modal .button-group button {
  margin-left: 10px;
}

/* Estilos específicos para el formulario de agregar plato */
.modal.add-form {
  max-width: 500px;
}

/* Estilos específicos para el formulario de editar plato */
.modal.edit-form {
  max-width: 500px;
}

.logout{
  padding: 10px;
}
.logout:hover{
  background-color: rgb(244, 55, 55);
}

  .btn-delete{
    background-color: rgb(244, 55, 55);
  }
  .btn-edit{
    background-color: rgb(55, 143, 244);
  }
  .btn-add{
    background-color: rgb(55, 244, 121);
  }
  
  @media (max-width: 600px) {
    th, td {
      font-size: 12px;
    }
  }
  